.header {
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;

    a {
        text-decoration: none;
        height: fit-content;
    }

    article {
        color: black;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            color: gold;
        }
    }

    @media screen and (max-width: 538px) {
        justify-content: center;
        margin-bottom: 12px;
        padding-block: 8px;

        article {
            font-size: 20px;
        }
    }
}