.header {
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    margin-bottom: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    a {
        text-decoration: none;
        height: fit-content;
    }

    article {
        color: black;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            color: gold;
        }
    }

}