.footerContainer {
    min-height: 60px;
    border-top: 1px solid black;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    article {
        font-size: 24px;
    }

    .finalPrice {
        font-size: 36px;
        color: green;
    }
}