.cartContainer {
    width: calc(100% - 18px);
    border: 1px solid violet;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;



    article {
        font-size: 20px;
    }
}

.selected {
    border-color: blue;
}

.delBtn {
    width: 20px;
}

.cartTitle {
    display: flex;
    padding: 8px;
    gap: 8px;
    // justify-content: space-between;
    align-items: center;
    user-select: none;
    min-width: 200px;

    img {
        aspect-ratio: 4/3;
        object-fit: contain;
        max-width: 50px;
    }
}
.cartBtnBlock{
    width: 220px;
    display: flex;
    justify-content: space-between;
}