.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 978px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    box-shadow: 2px 2px 20px -10px black;
    border-radius: 8px;
    padding: 4px;
    @media screen and (max-width: 1016px) {
        justify-content: center;
        width: 750px;
    }

    @media screen and (max-width: 769px) {
        justify-content: center;
        width: 500px;
    }

    @media screen and (max-width: 538px) {
        justify-content: center;
        width: 250px;
    }
}