.cardContainer {
    position: relative;
    user-select: none;
    border-width: 2px;
    padding: 8px;
    height: 300px;
}

.counted {
    box-shadow: 2px 2px 8px 0px rgba(54, 226, 146, 0.057), 1px 3px 8px -2px rgba(64, 153, 56, 0.12), 3px 6px 8px -4px rgba(105, 161, 56, 0.125);
}

.countNumber {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%) translateY(-6px);
    border: 1px solid #d9d9d9;

    article {
        color: black;
        font-size: 15px;
    }
}

.plusBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(20%) translateY(-8px);
}

.minusBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-20%) translateY(-8px);
}

.cardMeta {
    height: 70px;

    .metaTitle {
        font-size: 20px;
    }

    .metaPrice {
        font-size: 24px;
        color: grey;
    }
}